/* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/ */
:root {
  --light-gray-1: rgb(108, 108, 112);
  --light-gray-2: rgb(142, 142, 147);
  --light-gray-3: rgb(174, 174, 178);
  --light-gray-4: rgb(188, 188, 192);
  --light-gray-5: rgb(216, 216, 220);
  --light-gray-6: rgb(235, 235, 240);
  --dark-gray-1: rgb(174, 174, 178);
  --dark-gray-2: rgb(124, 124, 128);
  --dark-gray-3: rgb(84, 84, 86);
  --dark-gray-4: rgb(68, 68, 70);
  --dark-gray-5: rgb(54, 54, 56);
  --dark-gray-6: rgb(36, 36, 38);
}

body.dark-mode {
  background-color: var(--dark-gray-6);
  color: var(--light-gray-6);
}

.dark-mode .e93Tn,
.dark-mode .b4j4s {
  background-color: var(--dark-gray-5);
}

.dark-mode .GD3rC, 
.dark-mode .GD3rC:hover {
  background-color: var(--dark-gray-3);
}

.dark-mode a:hover {
  color: var(--light-gray-6);
}

.dark-mode a {
  color: var(--light-gray-5);
}

.dark-mode input[type=search]::placeholder {
  color: var(--light-gray-3);
}

.dark-mode .nT46U {
  fill: var(--light-gray-3);
}

.dark-mode .r7Rbd:hover .nT46U {
  fill: var(--light-gray-6);
}

.dark-mode .GD3rC:focus-within, 
.dark-mode .GD3rC:hover {
  border-color: var(--dark-gray-2);
}

.dark-mode .CwMIr {
  background-color: var(--dark-gray-5);
  color: var(--light-gray-5);
}

.dark-mode .CwMIr:focus,
.dark-mode .CwMIr:hover {
  color: var(--light-gray-6);
  border-color: var(--light-gray-6);
}

.dark-mode .i4HRi:after {
  background: linear-gradient(90deg,#fff0 0, var(--dark-gray-5) 90%, var(--dark-gray-5));
}

.dark-mode .tk1IQ:before {
  background: linear-gradient(270deg,#fff0 0, var(--dark-gray-5) 90%, var(--dark-gray-5));
}

.dark-mode .u9nHg {
  background-color: var(--dark-gray-3);
  color: var(--light-gray-6);
  border-color: var(--light-gray-2);
}

.dark-mode .VJoss {
  color: var(--light-gray-6);
}

.dark-mode .VJoss.ob_1e {
  background-color: var(--dark-gray-5);
}

.dark-mode .HTP5W {
  box-shadow: inset 0 -2px var(--dark-gray-1);
}

.dark-mode .WZ4Xc {
  color: var(--light-gray-3);
}

.dark-mode .hic6U {
  fill: var(--light-gray-5);
}

.dark-mode .hic6U {
  fill: var(--light-gray-5);
}